body{
    font-family:Arial;
    background-image:url("lilac.jpg");
    background-size:contain;
}
img{
    width: 200px;
}
.center{
   display: block;
   margin-left: auto;
   margin-right: auto;
}
.name{
    text-align: center;
    font-size: 20px;
    font-weight: bold;

}
tr:nth-child(even){
    background-color: grey;
}
table{
    width: 30%;
    text-align: center;
}
td{
    width: 50%;
}
div{
    text-align: center;
}
.break{
    line-break: anywhere;
}
span{
    font-weight: bold;
    color: red;
}
a:link{
    color: black;
}
a:visited{
    color: black;
}
a:hover{
    color: #AA98A9;
}
